@{
    ViewData["Title"] = "Home Page";
}

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <div>
        <input type="number" id="distanceRadius" value="1000"/>
        <button class="button" onclick="performAction()">SUBMIT</button>
    </div>
    <style>
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #mapcontainer {
            height: 500px;
            width: 500px
        }
         #map {
             height: 100%
         }
    </style>
    <script>
        var map;
        var infowindow;

        function performAction() {
            var pyrmont = { lat: 2.92105, lng: 101.66700 };


                map = new google.maps.Map(document.getElementById('map'), {
                    center: pyrmont,
                    zoom: 15
                    
                });


                infowindow = new google.maps.InfoWindow();
                var service = new google.maps.places.PlacesService(map);
                service.nearbySearch({
                    location: pyrmont,
                    radius: document.getElementById('distanceRadius').value,
                    type: ['restaurant']
                }, callback);
            }
            

        function callback(results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    console.log(results[i])
                    createMarker(results[i]);
                }
            }
        }

        function createMarker(place) {
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(place.name);
                infowindow.open(map, this);
            });
        }
    </script>
<div id="mapcontainer">
    <div id="map"></div>
</div>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQSl9Odcb1PLOctWiZUG34_Fg8SVYB5Sk&libraries=places" async defer></script>
